{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/yuyifeng.png" %}" alt="Yuyifeng - The Author Of This Blog"/>
            <h2>YUYIFENG'S BLOG</h2>

        </header>
        <p>Hi, My name is yuyifeng</p>
    </section>

    <section id="latest-posts">
        <h2>我最近的文章</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>
    <section id="development-tools">
        <h2>开发工具</h2>
        <ul>

        </ul>
    </section>

    <section id="about">
        <h2>感谢你的支持</h2>
        <p>
            我喜欢编程，我喜欢帮助其他人，并且我喜欢探索新的技术！
        </p>
        <p>
            我的目标是作为一名开发人员继续成长，如果我能帮你做到这一点，我会很高兴的！
        </p>
        <p>@Copyright@Dlxzkj.com</p>
    </section>
{% endblock %}